import type { NextPage } from 'next';

import s from './{{pascalCase name}}.module.scss';

interface Props {

}

const {{pascalCase name}}: NextPage = ({}: Props) => {
  return (
    <div>{{pascalCase name}} component</div>
  );
};

export default {{pascalCase name}};
